.vscode
.decontainer
.benchmarks

assets
lib
python
golang
java
javascript

README.md
CHANGELOG.md
LICENSE
VERSION
UKV.png
presentation.md
build.gradle
setup.py
pom.xml
go.mod

**/.git

# Subsets of .gitignore
Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles
build/
build_debug/
build_release/
tmp/
*.log
bin/
__pycache__
.pytest_cache/
.gradle/
_deps/
protos/
openapitools.json
build_version.cc
CPackConfig.cmake
CPackSourceConfig.cmake
