# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.class

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OS-specific
.DS_Store

# Subfolders
build/
build_debug/
build_release/
tmp/
.vscode/

# Bindings
__pycache__
Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles
*.egg-info
